.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;

  .contacts & {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    .contacts & {
      padding: 0 34px;
    }
    .footer & {
      padding: 0 34px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    .contacts & {
      padding: 0 100px;
      
    }
    .footer & {
      padding: 0 100px;
    }
  }
}
