.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;

  .contacts & {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .contacts {
    background-image: linear-gradient(
      to bottom,
      var(--light-color) 6%,
      var(--background-light-color) 6%,
      var(--background-light-color) 100%
    );
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 34px;
  }
  .contacts {
    background-image: linear-gradient(
      to bottom,
      var(--light-color) 10%,
      var(--background-light-color) 10%,
      var(--background-light-color) 100%
    );
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1050px;
    padding: 0;
  }
  .contacts {
    background-image: linear-gradient(
      to bottom,
      var(--light-color) 10%,
      var(--background-light-color) 10%,
      var(--background-light-color) 100%
    );
  }
}
