.about {
    background-color: var(--background-light-color);
    background-image: url(../images/about-bg-secound_theme.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__title--label {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.166;
        padding-top: 125px;
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-color);

            }
    &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    padding-top: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
            }
    &__bg--main-theme {
    width: 280px;
    height: 279px;
    padding-top: 26px;
    align-items: center;
    background-image: url(../images/about-bg-main_theme.png);
    background-repeat: no-repeat;
    background-position: center;
    }
    &__description--dark-theme {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    padding: 46px 50px 0px 50px;
    text-align: start;
    font-size: 12px;
    line-height: 162%;
    color: var(--text-dark-color);
    }
    &__description--grey-theme {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    padding: 47px 50px 0px 50px;
    text-align: start;
    font-size: 12px;
    line-height: 162%;
    color: var(--text-light-color);
    }
    &__button--wrapper {
        width: 320px;
        padding: 47px 50px 0px 50px;
    }
    &__btn {
    width: 176px;
    height: 44px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--accent-color);
    background: var(--light-color);
    border-radius: 22px;
    cursor: pointer;
    &__btn--arrow-icon {
        margin-top: 7px;
        margin-left: 12px;
        width: 6px;
        height: 8px;
    }
    }
    
    &__bg--secound-theme {
    width: 320px;
    align-items: center;
    padding-bottom: 17px;
    background-position: center 0;
    }
    
}

@media screen and (min-width: 768px) {
    .about {
        background-image: none;
        &__bg {
        display: flex;
        flex-direction: row;
        }
    }

}




@media screen and (min-width: 1280px) {
    .about {
    background-image: url(../images/about-bg-secound_theme.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    }
}