.advantages {
  background-color: var(--background-light-color);
  padding-top: 39px;

  &__header {
    display: none;
  }

  &__list {
    list-style-type: none;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 450px));
  }

  &__item {
    max-width: 450px;
  }

  &__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
  }

  &__description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    color: var(--text-dark-color);
  }
}

@media screen and (min-width: 320px) {
  .advantages {
    padding-bottom: 97px;

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    }

    &__item {
      max-width: 230px;
    }

    &__img {
      padding-bottom: 26px;
    }

    &__title {
      font-size: 36px;
      line-height: 41px;
      font-weight: 400;
    }

    &__description {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(180px, auto));
      gap: 60px;
    }

    &__item {
      max-width: 180px;
    }

    &__img {
      padding-bottom: 36px;
    }

    &__title {
      font-size: 48px;
      line-height: 55px;
      padding-bottom: 13px;
    }

    &__description {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .advantages {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(230px, auto));
      margin-left: 95px;
      gap: 30px;
    }

    &__item {
      max-width: 330px;
    }

    &__img {
      padding-bottom: 40px;
    }

    &__title {
      font-size: 58px;
      line-height: 66px;
    }

    &__description {
      font-size: 16px;
    }
  }
}
