.gallery {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 123px;
    background-image: linear-gradient(
        to bottom,
        var(--background-light-color) 40%,
        var(--light-color) 60%
    );

    &__img {
        width: 100%;

        position: absolute;
    }
}