.hero {
  padding-top: 6px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 75px, 0;
  background-image: url(../images/mobile-circle346x344.svg),
    linear-gradient(var(--background-dark-color), var(--background-dark-color));

  &__container {
    height: 100vh;
    position: relative;
  }

  &__navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger-menu-btn {
    background-color: transparent;
    padding: 5px;
    border: none;
  }

  &__burger-menu-icon {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 12px;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin-top: 137px;
  }

  &__title--heading {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 1.145;
    letter-spacing: 0.04em;
    color: var(--light-color);
  }

  &__title--heading-accent {
    font-size: 48px;
    line-height: 0.965;
    color: var(--accent-color);
  }

  &__photo-ice-cream {
    position: absolute;
    // right: 10%;
    right: 32px;
    bottom: 0;
  }

  &__photo-girl,
  &__text,
  &__photo-jar {
    display: none;
  }

  .btn__buy-now {
    display: none;
  }

  .btn--accent {
    margin-right: 8px;
    padding: 8px 14px;
    color: var(--light-color);
    background-color: var(--accent-color);
  }

  .btn--light {
    padding: 8px 14px;
    color: var(--accent-color);
    background-color: var(--light-color);
  }

  .btn--mobile-open-burger {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 37px;
    // background-repeat: no-repeat;
    background-position: top 31px right 137px, 0;
    background-image: url(../images/tablet-circle324x322.svg),
      linear-gradient(var(--background-dark-color), var(--background-dark-color));

    &__container {
      max-height: 362px;
    }

    &__title {
      //   position: absolute;
      //   z-index: 2;
      margin-top: 15px;
    }

    &__title--heading {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.145;
      // letter-spacing: 0.04em;
      // color: var(--light-color);
    }

    &__title--heading-accent {
      font-size: 34px;
      line-height: 0.905;
      // color: var(--accent-color);
    }

    &__jar-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__photo-ice-cream {
      position: absolute;
      // right: 32.16%;
      right: 247px;
      bottom: 0;
    }

    &__photo-girl {
      display: block;
      position: absolute;
      right: 34px;
      // top: 266px;
      bottom: 0;
    }

    &__photo-jar {
      display: block;
      position: absolute;
      left: 34px;
      bottom: 28px;
    }

    &__text {
      display: block;
      position: absolute;
      bottom: 59px;
      left: 154px;
      width: 114px;
      min-height: 48px;
      font-size: 8px;
      font-weight: 400;
      line-height: 1.5;
      color: var(--light-color);
    }

    .container {
      padding: 0 34px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 37px;
    // background-repeat: no-repeat;
    background-position: top 31px right 137px, 0;
    background-image: url(../images/tablet-circle324x322.svg),
      linear-gradient(var(--background-dark-color), var(--background-dark-color));

    // &__title {
    //   position: absolute;
    //   z-index: 2;
    // }
    &__title--heading {
      margin-top: 171px;
      margin-bottom: 25px;
      font-size: 38px;
      line-height: 1.158;
      // letter-spacing: 0.04em;
      // color: var(--light-color);
    }

    &__title--heading-accent {
      font-size: 58px;
      line-height: 0.897;
      // color: var(--accent-color);
    }

    &__photo-ice-cream {
      // position: absolute;
      right: 35.16%;
      // bottom: 0;
    }

    .container {
      max-width: 1200px;
      margin: auto;
    }
  }
}
