@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-dark-color);
  font-size: 12px;
  font-weight: 500;
}

.container {
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link-active {
  color: var(--accent);
}

.btn {
  padding: 8px 15px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border: none;
  border-radius: 20px;
  // cursor: pointer;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
