:root {
  --accent-color: #d41443;
  --primary-color: #ffa5ba;
  --background-light-color: #fff5f6;
  --background-dark-color: #ffb8ca;
  --background-cafe-color: #f0d1a5;
  --background-green-color: #c2e297;
  --light-color: #fff;
  --text-light-color: #907e82;
  --text-dark-color: #000;
}
