@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
:root {
  --accent-color: #d41443;
  --primary-color: #ffa5ba;
  --background-light-color: #fff5f6;
  --background-dark-color: #ffb8ca;
  --background-cafe-color: #f0d1a5;
  --background-green-color: #c2e297;
  --light-color: #fff;
  --text-light-color: #907e82;
  --text-dark-color: #000;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-dark-color);
  font-size: 12px;
  font-weight: 500;
}

.container {
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link-active {
  color: var(--accent);
}

.btn {
  padding: 8px 15px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border: none;
  border-radius: 20px;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hero__heading {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: var(--accent-color);
}

.products__subtitle {
  font-size: 18px;
  line-height: 20.61px;
  font-family: 'Titan One',cursive;
  color: var(--primary-color);
  font-weight: 400;
  text-align: center;
  margin-top: 121px;
}

.products__list li:nth-child(3) {
  margin-bottom: 98px;
}

.products__title {
  font-family: 'Titan One',cursive;
  font-weight: 400;
  font-size: 34px;
  color: var(--accent-color);
  line-height: 38.93px;
  text-align: center;
  margin-top: 15px;
}

.products__background {
  width: 280px;
  height: 485px;
  margin: 0 auto;
  border-radius: 24px;
  margin-top: 144px;
}

.products__background a {
  width: 40px;
  height: 40px;
  background-image: url(/images/arrow.svg);
  display: block;
  margin: auto;
  margin-top: 30px;
}

.products__background--pink::before {
  content: "";
  background-image: url(/images/mobile-product1.png);
  width: 249px;
  height: 252px;
  display: inline-block;
  margin-top: -113px;
  margin-left: 16px;
}

.products__background--brown::before {
  content: "";
  background-image: url(/images/mobile-product3.png);
  width: 249px;
  height: 252px;
  display: inline-block;
  margin-top: -113px;
  margin-left: 16px;
}

.products__background--green::before {
  content: "";
  background-image: url(/images/mobile-product2.png);
  width: 249px;
  height: 252px;
  display: inline-block;
  margin-top: -113px;
  margin-left: 16px;
}

.products__type {
  font-family: 'Titan One',cursive;
  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);
  text-align: center;
  line-height: 22.9px;
  margin-top: 22px;
}

.products__text {
  font-weight: 700;
  font-size: 14px;
  color: var(--light-color);
  line-height: 21.28px;
  display: block;
  width: 200px;
  margin: 0 auto;
}

.products__text::before {
  background-image: url(/images/dots.svg);
  content: "";
  width: 26px;
  height: 6px;
  display: block;
  margin-top: 36px;
  margin-bottom: 36px;
  margin-left: auto;
  margin-right: auto;
}

.products__background--brown {
  background-color: var(--background-cafe-color);
}

.products__background--pink {
  background-color: var(--background-dark-color);
}

.products__background--green {
  background-color: var(--background-green-color);
}

@media screen and (min-width: 768px) {
  .products__subtitle {
    font-size: 26px;
    line-height: 29.77px;
    font-family: 'Titan One', cursive;
    color: var(--primary-color);
    font-weight: 400;
    text-align: center;
    margin-top: 122px;
  }
  .products__title {
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 48px;
    color: var(--accent-color);
    line-height: 54.96px;
    text-align: center;
    margin-top: 15px;
  }
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .products__list li {
    margin-bottom: 112px;
  }
  .products__background {
    width: 220px;
    height: 485px;
  }
  .products__background a {
    margin-top: 40px;
  }
  .products__background--pink::before {
    content: "";
    background-image: url(/images/tabler-product1.png);
    width: 220px;
    height: 226px;
    margin-top: -104px;
    margin-left: auto;
    margin-right: auto;
  }
  .products__background--brown::before {
    content: "";
    background-image: url(/images/tabler-product2.png);
    width: 220px;
    height: 226px;
    margin-top: -104px;
    margin-left: auto;
    margin-right: auto;
  }
  .products__background--green::before {
    content: "";
    background-image: url(/images/tabler-product3.png);
    width: 220px;
    height: 226px;
    margin-top: -104px;
    margin-left: auto;
    margin-right: auto;
  }
  .products__type {
    margin-top: 30px;
  }
  .products__text::after {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .products .products__subtitle {
    font-family: 'Titan One', cursive;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 34.35px;
    margin-top: 127px;
  }
  .products .products__title {
    font-family: 'Titan One', cursive;
    font-size: 58px;
    color: var(--accent-color);
    text-align: center;
    line-height: 66.41px;
  }
  .products .products__background {
    width: 329px;
    height: 525px;
    margin-top: 259px;
  }
  .products .products__background a {
    margin-top: 62px;
  }
  .products .products__list {
    margin-top: 49px;
  }
  .products .products__list li {
    margin-bottom: 119px;
  }
  .products .products__background--pink::before {
    content: "";
    background-image: url(/images/desktop-product1.png);
    width: 335px;
    height: 335px;
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;
  }
  .products .products__background--brown::before {
    content: "";
    background-image: url(/images/desktop-product2.png);
    width: 335px;
    height: 335px;
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;
  }
  .products .products__background--green::before {
    content: "";
    background-image: url(/images/desktop-product3.png);
    width: 335px;
    height: 335px;
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;
  }
}

.customer-reviews__column {
  background-color: #FAFAFA;
  width: 280px;
  height: 308px;
  margin: auto;
}

.customer-reviews__photo {
  margin: auto;
  margin-bottom: 29px;
  margin-top: 80px;
}

.customers-reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 30.6px;
  color: #000000;
  margin-left: 57px;
  margin-right: 66px;
  margin-top: 43px;
  margin-bottom: 26px;
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #E1E1E1;
          text-decoration-color: #E1E1E1;
  text-decoration-thickness: 1px;
}

.customer-reviews__sign {
  font-weight: 500;
  font-size: 14px;
  line-height: 26,05px;
  text-align: center;
}

.customer-reviews__sign::before {
  background-image: url(/images/3-dots.svg);
  content: "";
  width: 32px;
  height: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 18px;
}

.contacts__header {
  display: none;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__place {
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.833;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.contacts__days {
  font-weight: 500;
  line-height: 1.833;
}

.contacts__time {
  font-weight: 500;
  line-height: 1.833;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item {
  width: 220px;
  height: 427px;
  border: solid 1px var(--light-color);
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: var(--light-color);
  padding: 43px 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  width: 80px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--background-cafe-color);
  color: var(--light-color);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.833;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.contacts__title--franchise {
  background-color: var(--background-green-color);
  width: 130px;
}

.contacts__text {
  font-weight: 500;
  color: var(--text-light-color);
  line-height: 1.5;
  margin-bottom: 50px;
  position: relative;
}

.contacts__text::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: -25px;
}

.contacts__phone-number,
.contacts__email {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-light-color);
}

.contacts__via {
  margin-top: 50px;
  position: relative;
}

.contacts__via::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: -25px;
}

.contacts__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-transform: capitalize;
  background-color: #d41342;
  color: var(--light-color);
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.contacts__btn:not(:last-child) {
  margin-bottom: 10px;
  margin-top: 54px;
}

.contacts__btn--light-theme {
  background-color: var(--light-color);
  color: #d41342;
}

.contacts__btn:hover,
.contacts__btn:focus {
  background-color: #ce6a83;
}

.contacts__btn--light-theme:hover,
.contacts__btn--light-theme:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts__place {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 14px;
  }
  .contacts__days {
    font-size: 14px;
    line-height: 1.857;
  }
  .contacts__time {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 16px;
  }
  .contacts__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 81px;
    margin-bottom: 158px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__item {
    height: 544px;
    padding: 50px 32px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .contacts__title {
    width: 73px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 30px;
  }
  .contacts__title--franchise {
    width: 138px;
  }
  .contacts__text {
    font-size: 14px;
    line-height: 1.643;
    margin-bottom: 60px;
    position: relative;
  }
  .contacts__text::after {
    width: 157px;
    bottom: -30px;
  }
  .contacts__phone-number,
  .contacts__email {
    font-size: 14px;
    line-height: 1.857;
  }
  .contacts__via {
    margin-top: 60px;
    position: relative;
  }
  .contacts__via::after {
    width: 179px;
    top: -30px;
  }
  .contacts__btn {
    width: 191px;
  }
  .contacts__btn:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .contacts__btn--light-theme {
    width: 174px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__title {
    margin-bottom: 32px;
  }
  .contacts__place {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 10px;
  }
  .contacts__days {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts__time {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts__buttons {
    margin-top: 86px;
    margin-bottom: 165px;
  }
  .contacts__item {
    width: 330px;
    height: 572px;
    padding: 50px 44px 62px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 1.813;
    margin-bottom: 64px;
    position: relative;
  }
  .contacts__text::after {
    width: 234px;
    bottom: -32px;
  }
  .contacts__phone-number,
  .contacts__email {
    font-size: 16px;
    line-height: 1.813;
  }
  .contacts__via {
    margin-top: 64px;
    position: relative;
  }
  .contacts__via::after {
    width: 234px;
    top: -32px;
  }
  .contacts__btn {
    width: 198px;
  }
  .contacts__btn--light-theme {
    width: 180px;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, var(--light-color)), color-stop(6%, var(--background-light-color)), to(var(--background-light-color)));
  background-image: linear-gradient(to bottom, var(--light-color) 6%, var(--background-light-color) 6%, var(--background-light-color) 100%);
}

@media screen and (min-width: 768px) {
  .contacts .container {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--light-color)), color-stop(10%, var(--background-light-color)), to(var(--background-light-color)));
    background-image: linear-gradient(to bottom, var(--light-color) 10%, var(--background-light-color) 10%, var(--background-light-color) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .contacts .container {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--light-color)), color-stop(10%, var(--background-light-color)), to(var(--background-light-color)));
    background-image: linear-gradient(to bottom, var(--light-color) 10%, var(--background-light-color) 10%, var(--background-light-color) 100%);
  }
}
/*# sourceMappingURL=main.css.map */