@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
:root {
  --accent-color: #d41443;
  --primary-color: #ffa5ba;
  --background-light-color: #fff5f6;
  --background-dark-color: #ffb8ca;
  --background-cafe-color: #f0d1a5;
  --background-green-color: #c2e297;
  --light-color: #fff;
  --text-light-color: #907e82;
  --text-dark-color: #000;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-dark-color);
  font-size: 12px;
  font-weight: 500;
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  text-transform: uppercase;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.link-active {
  color: var(--accent);
}

.btn {
  padding: 8px 13px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border: none;
  border-radius: 20px;
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .contacts .container {
    padding: 0 34px;
  }
  .footer .container {
    padding: 0 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .contacts .container {
    padding: 0 100px;
  }
  .footer .container {
    padding: 0 100px;
  }
}

.hero {
  padding-top: 6px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 75px, 0;
  background-image: url(../images/mobile-circle346x344.svg), -webkit-gradient(linear, left top, left bottom, from(var(--background-dark-color)), to(var(--background-dark-color)));
  background-image: url(../images/mobile-circle346x344.svg), linear-gradient(var(--background-dark-color), var(--background-dark-color));
}

.hero__container {
  height: 100vh;
  position: relative;
}

.hero__navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__burger-menu-btn {
  background-color: transparent;
  padding: 5px;
  border: none;
}

.hero__burger-menu-icon {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 12px;
}

.hero__title {
  position: absolute;
  z-index: 2;
}

.hero__title--heading {
  margin-top: 137px;
  margin-bottom: 24px;
  font-size: 26px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  color: var(--light-color);
}

.hero__title--heading-accent {
  font-size: 48px;
  line-height: 0.965;
  color: var(--accent-color);
}

.hero__photo-ice-cream {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.hero .btn--accent {
  margin-right: 8px;
  padding: 8px 14px;
  color: var(--light-color);
  background-color: var(--accent-color);
}

.hero .btn--light {
  padding: 8px 14px;
  color: var(--accent-color);
  background-color: var(--light-color);
}

.hero .btn--mobile-open-burger {
  margin-top: 60px;
}

.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, var(--light-color)), color-stop(6%, var(--background-light-color)), to(var(--background-light-color)));
  background-image: linear-gradient(to bottom, var(--light-color) 6%, var(--background-light-color) 6%, var(--background-light-color) 100%);
}

.contacts__header {
  display: none;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__place {
  text-transform: capitalize;
  line-height: 1.833;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.contacts__days {
  line-height: 1.833;
}

.contacts__time {
  line-height: 1.833;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 113px;
}

.contacts__icon {
  width: 12px;
  height: 10px;
  margin-left: 10px;
}

.contacts__icon--light-theme {
  stroke: var(--accent-color);
}

.contacts__item {
  width: 220px;
  height: 427px;
  border: solid 1px var(--light-color);
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: var(--light-color);
  padding: 43px 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  width: 80px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--background-cafe-color);
  color: var(--light-color);
  text-transform: uppercase;
  line-height: 1.833;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.contacts__title--franchise {
  background-color: var(--background-green-color);
  width: 130px;
}

.contacts__text {
  color: var(--text-light-color);
  line-height: 1.5;
  margin-bottom: 50px;
  position: relative;
}

.contacts__text::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: -25px;
}

.contacts__phone-number,
.contacts__email {
  line-height: 1.5;
  color: var(--text-light-color);
}

.contacts__via {
  margin-top: 50px;
  position: relative;
}

.contacts__via::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: -25px;
}

.contacts__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-transform: capitalize;
  background-color: var(--accent-color);
  color: var(--light-color);
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.contacts__btn:not(:last-child) {
  margin-bottom: 10px;
  margin-top: 54px;
}

.contacts__btn--light-theme {
  background-color: var(--light-color);
  color: var(--accent-color);
}

.contacts__btn:hover,
.contacts__btn:focus {
  background-color: #ce6a83;
}

.contacts__btn--light-theme:hover,
.contacts__btn--light-theme:focus {
  background-color: #ecebeb;
}

.modal-title {
  color: var(--accent-color);
}

.modal-body {
  background-color: var(--background-light-color);
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--light-color)), color-stop(10%, var(--background-light-color)), to(var(--background-light-color)));
    background-image: linear-gradient(to bottom, var(--light-color) 10%, var(--background-light-color) 10%, var(--background-light-color) 100%);
  }
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts__place {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 14px;
  }
  .contacts__days {
    font-size: 14px;
    line-height: 1.857;
  }
  .contacts__time {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 16px;
  }
  .contacts__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 81px;
    margin-bottom: 158px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__item {
    height: 544px;
    padding: 50px 32px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .contacts__title {
    width: 73px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 30px;
  }
  .contacts__title--franchise {
    width: 138px;
  }
  .contacts__text {
    font-size: 14px;
    line-height: 1.643;
    margin-bottom: 60px;
    position: relative;
  }
  .contacts__text::after {
    width: 157px;
    bottom: -30px;
  }
  .contacts__phone-number,
  .contacts__email {
    font-size: 14px;
    line-height: 1.857;
  }
  .contacts__via {
    margin-top: 60px;
    position: relative;
  }
  .contacts__via::after {
    width: 157px;
    top: -30px;
  }
  .contacts__btn {
    width: 191px;
  }
  .contacts__btn:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .contacts__btn--light-theme {
    width: 174px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--light-color)), color-stop(10%, var(--background-light-color)), to(var(--background-light-color)));
    background-image: linear-gradient(to bottom, var(--light-color) 10%, var(--background-light-color) 10%, var(--background-light-color) 100%);
  }
  .contacts__title {
    margin-bottom: 32px;
  }
  .contacts__place {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 10px;
  }
  .contacts__days {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts__time {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts__buttons {
    margin-top: 86px;
    margin-bottom: 165px;
  }
  .contacts__item {
    width: 330px;
    height: 572px;
    padding: 50px 44px 62px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 1.813;
    margin-bottom: 64px;
    position: relative;
  }
  .contacts__text::after {
    width: 234px;
    bottom: -32px;
  }
  .contacts__phone-number,
  .contacts__email {
    font-size: 16px;
    line-height: 1.813;
  }
  .contacts__via {
    margin-top: 64px;
    position: relative;
  }
  .contacts__via::after {
    width: 234px;
    top: -32px;
  }
  .contacts__btn {
    width: 198px;
  }
  .contacts__btn--light-theme {
    width: 180px;
  }
}

.footer {
  background-color: var(--background-light-color);
  position: relative;
}

.footer::after {
  position: absolute;
  bottom: 89px;
  content: '';
  display: block;
  width: 100vw;
  background-color: #e1e1e1;
  height: 1px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__above {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.167;
  color: var(--primary-color);
  width: 232px;
  margin-bottom: 17px;
}

.footer__title {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.147;
  color: var(--accent-color);
  width: 200px;
  margin-bottom: 43px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

.footer__contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  line-height: 1.86;
  font-weight: 700;
  margin-bottom: 65px;
}

.footer__rights {
  text-align: center;
  margin: 0 auto;
  color: var(--text-light-color);
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  width: 149px;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 46px;
}

.socials-list__item:not(:last-child) {
  margin-right: 28px;
}

.socials-list__icon {
  width: 32px;
  height: 32px;
  fill: var(--primary-color);
}

.socials-list__icon:hover {
  fill: var(--accent-color);
}

.socials-list__link:focus .socials-list__icon {
  fill: var(--accent-color);
}

.footer__phone-number {
  color: var(--accent-color);
}

.footer__phone-number:hover, .footer__phone-number:focus {
  color: #ce6a83;
}

@media screen and (min-width: 768px) {
  .footer::after {
    bottom: 80px;
  }
  .footer__above {
    font-size: 26px;
    line-height: 1.154;
    width: 340px;
    margin-bottom: 16px;
  }
  .footer__title {
    font-size: 48px;
    line-height: 1.146;
    width: 340px;
    margin-bottom: 120px;
  }
  .footer__contact-us {
    font-size: 14px;
    line-height: 1.86;
  }
  .footer__rights {
    margin-bottom: 18px;
    line-height: 1.857;
    width: 276px;
  }
  .socials-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .socials-list__icon {
    width: 34px;
    height: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .footer::after {
    bottom: 45px;
  }
  .footer__above {
    font-size: 30px;
    line-height: 1.133;
    width: 472px;
    margin-bottom: 15px;
  }
  .footer__title {
    font-size: 58px;
    line-height: 1.138;
    width: 474px;
    margin-bottom: 106px;
  }
  .footer__contact-us {
    font-size: 16px;
    line-height: 1.875;
  }
  .footer__rights {
    margin-bottom: 10px;
  }
  .socials-list__item:not(:last-child) {
    margin-right: 24px;
  }
}
/*# sourceMappingURL=main.css.map */