@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
:root {
  --accent-color: #d41443;
  --primary-color: #ffa5ba;
  --background-light-color: #fff5f6;
  --background-dark-color: #ffb8ca;
  --background-cafe-color: #f0d1a5;
  --background-green-color: #c2e297;
  --light-color: #fff;
  --text-light-color: #907e82;
  --text-dark-color: #000;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-dark-color);
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.hero__heading {
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  color: var(--accent-color);
}

.contacts__header {
  display: none;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__place {
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.833;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
}

.contacts__days {
  font-weight: 500;
  line-height: 1.833;
}

.contacts__time {
  font-weight: 500;
  line-height: 1.833;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item {
  width: 220px;
  height: 427px;
  border: solid 1px var(--light-color);
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  background-color: var(--light-color);
  padding: 43px 20px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__title {
  width: 80px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--background-cafe-color);
  color: var(--light-color);
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.833;
  letter-spacing: 0.04em;
  margin-bottom: 25px;
}

.contacts__title--franchise {
  background-color: var(--background-green-color);
  width: 130px;
}

.contacts__text {
  font-weight: 500;
  color: var(--text-light-color);
  line-height: 1.5;
  margin-bottom: 50px;
  position: relative;
}

.contacts__text::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  bottom: -25px;
}

.contacts__phone-number,
.contacts__email {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-light-color);
}

.contacts__via {
  margin-top: 50px;
  position: relative;
}

.contacts__via::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: -25px;
}

.contacts__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-transform: capitalize;
  background-color: #d41342;
  color: var(--light-color);
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}

.contacts__btn:not(:last-child) {
  margin-bottom: 10px;
  margin-top: 54px;
}

.contacts__btn--light-theme {
  background-color: var(--light-color);
  color: #d41342;
}

.contacts__btn:hover,
.contacts__btn:focus {
  background-color: #ce6a83;
}

.contacts__btn--light-theme:hover,
.contacts__btn--light-theme:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts__place {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 14px;
  }
  .contacts__days {
    font-size: 14px;
    line-height: 1.857;
  }
  .contacts__time {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 16px;
  }
  .contacts__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 81px;
    margin-bottom: 158px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__item {
    height: 544px;
    padding: 50px 32px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .contacts__title {
    width: 73px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 30px;
  }
  .contacts__title--franchise {
    width: 138px;
  }
  .contacts__text {
    font-size: 14px;
    line-height: 1.643;
    margin-bottom: 60px;
    position: relative;
  }
  .contacts__text::after {
    width: 157px;
    bottom: -30px;
  }
  .contacts__phone-number,
  .contacts__email {
    font-size: 14px;
    line-height: 1.857;
  }
  .contacts__via {
    margin-top: 60px;
    position: relative;
  }
  .contacts__via::after {
    width: 179px;
    top: -30px;
  }
  .contacts__btn {
    width: 191px;
  }
  .contacts__btn:not(:last-child) {
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .contacts__btn--light-theme {
    width: 174px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__title {
    margin-bottom: 32px;
  }
  .contacts__place {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 10px;
  }
  .contacts__days {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts__time {
    font-size: 16px;
    line-height: 1.875;
  }
  .contacts__buttons {
    margin-top: 86px;
    margin-bottom: 165px;
  }
  .contacts__item {
    width: 330px;
    height: 572px;
    padding: 50px 44px 62px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__text {
    font-size: 16px;
    line-height: 1.813;
    margin-bottom: 64px;
    position: relative;
  }
  .contacts__text::after {
    width: 234px;
    bottom: -32px;
  }
  .contacts__phone-number,
  .contacts__email {
    font-size: 16px;
    line-height: 1.813;
  }
  .contacts__via {
    margin-top: 64px;
    position: relative;
  }
  .contacts__via::after {
    width: 234px;
    top: -32px;
  }
  .contacts__btn {
    width: 198px;
  }
  .contacts__btn--light-theme {
    width: 180px;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  padding: 0 20px;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, var(--light-color)), color-stop(6%, var(--background-light-color)), to(var(--background-light-color)));
  background-image: linear-gradient(to bottom, var(--light-color) 6%, var(--background-light-color) 6%, var(--background-light-color) 100%);
}

@media screen and (min-width: 768px) {
  .contacts .container {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--light-color)), color-stop(10%, var(--background-light-color)), to(var(--background-light-color)));
    background-image: linear-gradient(to bottom, var(--light-color) 10%, var(--background-light-color) 10%, var(--background-light-color) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .contacts .container {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, var(--light-color)), color-stop(10%, var(--background-light-color)), to(var(--background-light-color)));
    background-image: linear-gradient(to bottom, var(--light-color) 10%, var(--background-light-color) 10%, var(--background-light-color) 100%);
  }
}
/*# sourceMappingURL=main.css.map */