<section class="contacts">
  <div class="container">
    <h2 class="contacts__header">Contacts</h2>

    <ul class="contacts__list list">
      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>
        <p class="contacts__place">Chicago</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__time"><time>08:00</time> AM - <time>04:00</time> PM</p>
        <div class="contacts__via">
          <a href="tel:+61(0)383766284 " class="contacts__phone-number"> +61(0) 383 766 284 </a>
          <a class="contacts__email" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__title contacts__title--franchise">FOODTRUCK</p>

        <p class="contacts__place">Los Angeles</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__time"><time>08:00</time> AM - <time>04:00</time> PM</p>
        <div class="contacts__via">
          <a href="tel:+61(0)383766284 " class="contacts__phone-number"> +61(0) 383 766 284 </a>
          <a class="contacts__email" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__title">CAFE</p>

        <p class="contacts__place">New York</p>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <p class="contacts__days">Monday - Friday</p>
        <p class="contacts__time"><time>06:00</time> AM - <time>10:00</time> PM</p>
        <p class="contacts__days">Saturday - Sunday</p>
        <p class="contacts__time"><time>08:00</time> AM - <time>04:00</time> PM</p>
        <div class="contacts__via">
          <a href="tel:+61(0)383766284 " class="contacts__phone-number"> +61(0) 383 766 284 </a>
          <a class="contacts__email" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button class="contacts__btn">Our Locations</button>
      <button class="contacts__btn contacts__btn--light-theme">Franchise</button>
    </div>
  </div>
</section>
