<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__header">
        <p class="footer__above">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="socials-list">
          <li class="socials-list__item list">
            <a target="_blank" href="#" class="socials-list__link">
              <svg class="socials-list__icon">
                <use href="../src/images/sprite.svg#github"></use></svg
            ></a>
          </li>
          <li class="socials-list__item list">
            <a target="_blank" href="#" class="socials-list__link"
              ><svg class="socials-list__icon">
                <use href="../src/images/sprite.svg#telegram"></use></svg
            ></a>
          </li>
          <li class="socials-list__item list">
            <a target="_blank" href="#" class="socials-list__link"
              ><svg class="socials-list__icon">
                <use href="../src/images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
        </ul>
        <p class="footer__contact-us">
          Feel free to contact &nbsp;<a href="tel:+61(0)383766284 " class="footer__phone-number">
            +61(0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <p class="footer__rights">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
