<section class="gallery">
    <div>
        <picture>
            <source srcset="
										../src/images/Gallery/Gallery_1200.jpg
									" media="(min-width: 1200px)">
            <source srcset="
										../src/images/Gallery/Gallery_1200.jpg
									" media="(min-width: 768px)">
								<source srcset="
										../src/images/Gallery/Gallery_320.jpg
									" media="(min-width: 480px)">
            <img class="gallery__img" src="..\src\images\Gallery\Gallery_1200.jpg" alt="Gallery_of_photos">
        </picture>
    </div>
</section>
