<section class="gallery">
    <div class="container">
        <picture>
            <source srcset="
										./images/hero1600.jpg    1x,
										./images/hero1600@2x.jpg 2x
									" media="(min-width: 1200px)">
            <source srcset="
										./images/hero1600.jpg    1x,
										./images/hero1600@2x.jpg 2x
									" media="(min-width: 768px)">
								<source srcset="
										./images/hero768.jpg    1x,
										./images/hero768@2x.jpg 2x
									" media="(min-width: 480px)">
            <img class="gallery__img" src="" alt="Gallery_of_photos">
        </picture>
    </div>
</section>
