<header class="hero">
  <div class="container hero__container">
    <nav class="hero__navigation-menu">
      <!-- logo -->

      <picture class="hero__logo">
        <source srcset="images/logo199x50.png 1x, images/logo199x50@2x.png 2x" />
        <img src="images/logo199x50.png" width="199" height="50" alt="Logo" />
      </picture>

      <!-- navigation-tool -->

      <ul class="list hero__navigation-list">
        <li>
          <a class="link hero__navigation-link link-active" href="home">Home</a>
        </li>
        <li>
          <a class="link hero__navigation-link" href="about-us">About us</a>
        </li>
        <li>
          <a class="link hero__navigation-link" href="#how it's made">How it's made?</a>
        </li>
        <li>
          <a class="link hero__navigation-link" href="#our-products">Our products</a>
        </li>
        <li>
          <a class="link hero__navigation-link" href="#contact">Contact</a>
        </li>
      </ul>

      <!-- burger-menu-btn -->

      <button class="hero__burger-menu-btn" type="button">
        <svg class="hero__burger-menu-icon">
          <use href="images/icons.svg#icon-Burger"></use>
        </svg>
      </button>

      <!-- modal-menu -->

      <div class="modal-menu">
        <button class="btn hero__btn-buy-now modal-menu__btn-buy-now">
          Buy now
          <svg class="hero__btn-buy-now-icon">
            <use href="images/sprite.svg#majority-sign"></use>
          </svg>
        </button>
        <ul class="list modal-menu__list">
          <li class="modal-menu__item">Home</li>
          <li class="modal-menu__item">About us</li>
          <li class="modal-menu__item">How it's made?</li>
          <li class="modal-menu__item">Our products</li>
          <li class="modal-menu__item">Contacts</li>
        </ul>
      </div>

      <!-- buy-now-btn -->

      <button class="btn hero__btn-buy-now">
        Buy now
        <svg class="hero__btn-buy-now-icon"><use href="images/sprite.svg#majority-sign"></use></svg>
      </button>
    </nav>

    <!-- numbers -->

    <ul class="list hero__list">
      <li>
        <div class="hero__list-number">16</div>
        <p class="hero__list-text">cafes</p>
      </li>
      <li>
        <div class="hero__list-number">23</div>
        <p class="hero__list-text">food trucks</p>
      </li>
    </ul>

    <!-- title -->

    <div class="hero__title">
      <h1 class="hero__title--heading">
        <div>ice cream</div>
        <div>made with</div>
        <div class="hero__title--heading-accent">passion</div>
      </h1>

      <!-- buttons -->

      <a class="link btn hero__btn hero__btn--accent" href="#products">Products</a>
      <a class="link btn hero__btn hero__btn--light" href="#about">How it's made?</a>
    </div>

    <!-- photos -->

    <div class="hero__jar-wrapper">
      <picture class="hero__photo-jar">
        <source
          media="(min-width: 1200px)"
          srcset="
            images/desktop-jar-of-milk188x191.png    1x,
            images/desktop-jar-of-milk188x191@2x.png 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            images/tablet-jar-of-milk124x126.png    1x,
            images/tablet-jar-of-milk124x126@2x.png 2x
          "
        />

        <img src="images/tablet-jar-of-milk124x126.png" alt="Jar of milk" />
      </picture>
      <div class="hero__text-wrapper">
        <div class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </div>
        <button class="btn hero__btn-arrow" type="button">
          <svg class="hero__btn-arrow-icon">
            <use href="images/sprite.svg#majority-sign"></use>
          </svg>
        </button>
      </div>
    </div>

    <div>
      <picture class="hero__photo-ice-cream">
        <source
          media="(min-width: 1200px)"
          srcset="
            images/desktop-big-ice-cream236x557.png    1x,
            images/desktop-big-ice-cream236x557@2x.png 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            images/tablet-big-ice-cream143x336.png    1x,
            images/tablet-big-ice-cream143x336@2x.png 2x
          "
        />

        <source
          media="(max-width: 767px)"
          srcset="
            images/mobile-big-ice-cream171x410.png    1x,
            images/mobile-big-ice-cream171x410@2x.png 2x
          "
        />

        <img src="images/mobile-big-ice-cream171x410.png" alt="Big ice-cream" />
      </picture>
    </div>
    <picture class="hero__photo-girl">
      <source
        media="(min-width: 1200px)"
        srcset="
          images/desktop-gilr-eating-ice-cream293x232.png    1x,
          images/desktop-gilr-eating-ice-cream293x232@2x.png 2x
        "
      />

      <source
        media="(min-width: 768px)"
        srcset="
          images/tablet-gilr-eating-ice-cream168x133.png    1x,
          images/tablet-gilr-eating-ice-cream168x133@2x.png 2x
        "
      />
      <img src="images/tablet-gilr-eating-ice-cream168x133.png" alt="Big ice-cream" />
    </picture>
  </div>
</header>
