<section class="products" id="Our Products">
  <div class="container">
    <p class="products__subtitle">100% NATURAL</p>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list list">
      <li>
      <div class="products__background products__background--pink">
     
        <h3 class="products__type">ICE CREAM</h3>
    
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#">
         
        </a>
      </div>
      </li>
      <li>
              <div class="products__background products__background--brown ">
                  <h3 class="products__type">ICE COFFEE</h3>
    
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
                <a href="#">
</a>


      </li>
      <li>
       <div class="products__background products__background--green ">
        <h3 class="products__type">MILKSHAKES</h3>
    
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
                <a href="#">
</a>
      </div>
      </li>
      </div>
    </ul>
  </div>
</section>
